/* Navigation bar and Body */
.nav-style {
    color: #f5e7c9;
    background-color:#2321bd;
}

.link-color {
    color: #f5e7c9;
}
.background {
    background-color: #9ccaf0;
}
.content {
    background-color: #91a1ac;
}